= form_for(@amoeba) do |f|
  
  .field
    = f.label :name
    %br
    = f.text_field :name
    %br
    = f.label :talent
    %br
    = f.collection_select :talent_id, Talent.all, :id, :name
    %br
  .actions
    = f.submit
