%h1 Amoebas

%p
  - @amoebas.each do |amoeba|
    = amoeba.name
    = amoeba.generation
    = amoeba.talent_id # eventually make this the actual talent
    = link_to "Edit", edit_amoeba_path
    = link_to "Destroy", "/amoebas/#{amoeba.id}/destroy"
    %br

= link_to "New", new_amoeba_path