%h1
  = @amoeba.name
%p
  Generation:
  = @amoeba.generation
%p
  Talent:
  = @amoeba.talent.name
%p
  Acts I'm in:
  - @amoeba.acts.each do |act|
    %br
    = link_to "#{act.name}", "/acts/#{act.id}"
%br
= link_to "Edit", edit_amoeba_path
= link_to "Split", "/amoebas/#{@amoeba.id}/split"
= link_to "Destroy", "/amoebas/#{@amoeba.id}", :method => :delete, data: { confirm: 'Are you sure?' }
%br

= link_to "Back", amoebas_path