= form_for(@act) do |f|
  
  .field
    = f.label :name
    %br
    = f.text_field :name
    %br
    = f.date_select :date, :order=>[:month, :day, :year]
    %br
    = f.time_select :time, {:ampm=>true}
    %br
    = f.label :amoebas
    %br
    = f.collection_select :amoebas, Amoeba.all, :id, :name, {}, {:multiple => :true} # gotta get the talent next to the name
  .actions
    = f.submit
