= form_for(@act) do |f|
  
  .field
    = f.label :name
    %br
    = f.text_field :name
    %br
    = f.date_select :date, :order=>[:month, :day, :year]
    %br
    = f.time_select :time, {:ampm=>true}
    %br
  .actions
    = f.submit
