%h1 Acts

%p
  - @acts.each do |act|
    = act.name
    = act.date
    = act.time
    %a{:href=>"/acts/#{act.id}/edit"} Edit
    %a{:href=>"/acts/#{act.id}/destroy"} Destroy
    %br

%a{:href=>"/acts/new"} New