%h1 Acts

%p
  - @acts.each do |act|
    = act.name
    = act.date
    = act.time
    = link_to "Edit", "/acts/#{act.id}/edit"
    = link_to "Destroy", "/acts/#{act.id}/destroy"
    %br

= link_to "New", "acts/new"