%h1 Acts

%p
  - @acts.each do |act|
    = act.name
    = act.date
    = act.time
    = link_to "Edit", "/acts/#{act.id}/edit"
    = button_to "Destroy", "/acts/#{act.id}", :method => :delete, data: { confirm: 'Are you sure?'
    %br

= link_to "New", new_act_path